<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body style="background-color: <%= color %>">
<h1>Colors page</h1>
<form method="get" action="/colors">
    <button type="submit">Change color</button>
</form>
</body>
</html>